
$breadcrumbBgColor: #EEEEEE !default;
$breadcrumbSeparatorColor: #AAAAAA !default;
$breadcrumbPadding: 15px !default;

.breadcrumb {
  @include breadcrumb($breadcrumbBgColor, $breadcrumbSeparatorColor, $breadcrumbPadding);
}
